<div class="row">
  <div class="col-md-6 new-user-alert">
      <div *ngIf="brandNew" class="alert alert-success" role="alert">
          <strong>All set!</strong> Please login with your account
      </div>  
     
  </div>
</div>

  <div class="container" id="container">
    <div class="form-container sign-up-container">
        <form #f="ngForm" novalidate (ngSubmit)="registerUser(f)">
          <h1>Sign up</h1>

            <div>
                <input type="text" class="form-control" id="first-name" placeholder="First name" name="firstName" tmFocus ngModel>              
            </div>
            <div>
                <input type="text" class="form-control" id="last-name" placeholder="Last name" name="lastName" ngModel>              
            </div>
            <div >
                <input type="text" class="form-control" id="login" placeholder="Username" name="login" tmFocus ngModel>
            </div>
            <div>
              <input id="email" type="text" required name="email" validateEmail class="form-control" placeholder="Email" ngModel  #email="ngModel">
            </div>
            <div>
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" ngModel>
            </div>

            <re-captcha class="cap"
            (resolved)="resolved($event)"
            siteKey="6Le3VroUAAAAAHH6FFoHN3_Hoco2AUKmWO7MHJD7"
          ></re-captcha>

            <div class="submitForm">
                <button type="submit" [disabled]="!isCaptcha || f.invalid || isRequesting">Sign Up</button>
                <app-spinner [isRunning]="isRequesting"></app-spinner> 
            </div>
  
            <div *ngIf="errors" class="alert alert-danger" role="alert">
                <strong>Oops!</strong> {{errors}}
              </div>
            
          </form>
     </div>
  </div>
  
  