<div class="col-md-6">
  <h2>Archive</h2>
  <table class ="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Country</th>
        <th>City</th>
        <th>Street</th>
        <th>Actions</th>
      </tr>
    </thead>
      <tbody>
        <tr *ngFor="let item of records">
          <td>{{item.title}}</td>
          <td>{{item.description}}</td>
          <td>{{item.location.addressCountry}}</td>
          <td>{{item.location.addressCity}}</td>
          <td>{{item.location.addressStreet}}</td>
          <td *ngIf="item.isDone == true">
            Done.
          </td>
          <td *ngIf="item.isDone == false">
            Not finished.
          </td>
          <td style='white-space: nowrap'>
              <button class="restoreButton" (click)="restoreRecord(item)" style="margin-left: 20px;"></button>          
              <button class="deleteButton" (click)="deleteRecord(item)" style="margin-left: 20px;"></button>
          </td>
        </tr>
      </tbody>
  </table>
</div>